/* Stolen from modal_forms. */

/* Reset some styles from system.css and modal.css */

div.views-vbo-filter-modal-content .resizable-textarea {
  margin-left: 0;
  margin-right: 0;
}

div.views-vbo-filter-modal-content .form-item label {
  float: none;
  width: auto;
}

div.views-vbo-filter-modal-content .item-list ul li {
  margin: 0 0 0.25em 1.5em;
}

div.views-vbo-filter-modal-content div.messages {
  margin: 0;
}

/* Styles for modal forms modal */

div.views-vbo-filter-modal-content {
  background: transparent;
  color: #000;
  font: 12px "Lucida Grande", Verdana, Arial, sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}

div.views-vbo-filter-modal-content .popups-container {
  overflow: hidden;
  height: 100%;
  background: #fff;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.views-vbo-filter-modal-content .modal-header {
  background-color: transparent;
  padding: 0.5em 1em 0 1em;
  min-height: 25px;
}

div.views-vbo-filter-modal-content .modal-title {
  display: inline;
  color: #000;
}

div.views-vbo-filter-modal-content .views-vbo-filter-buttons {
  float: right;
}

div.views-vbo-filter-modal-content .views-vbo-filter-buttons .submit {
  color: white;
  font-weight: bold;
  background-color: #4d8ffc;
  border: 2px outset #4d8ffc;
}

div.views-vbo-filter-modal-content .views-vbo-filter-buttons .submit:hover,
div.views-vbo-filter-modal-content .views-vbo-filter-buttons .submit:focus {
  background-color: #4589f7;
  border-color: #4589f7;
}

div.views-vbo-filter-modal-content .views-vbo-filter-buttons .submit:active {
  background-color: #3175e6;
  border: 2px inset #3175e6;
}

div.views-vbo-filter-modal-content .popups-close:hover {
  background-position: -25px -25px;
}

/* Hide the normal VBO actions inside our popup */
div.views-vbo-filter-modal-content .vbo-views-form fieldset:not(.vbo-fieldset-select-all) {
  display: none;
}

/* Stop background scrolling while modal is active on mobile */
body.views-vbo-filter-modal-fullscreen {
  position: fixed;
  overflow: hidden;
}

/* Enable iOS momentum scrolling in the modal. */
div.views-vbo-filter-modal-content .modal-content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
